<div class="wrapper">
  <section class="container">
    <section class="select-pins">
      <div *ngIf="isFirstAttempt && !rollThree.length">
        <button class="btn" id="rollOne-{{i}}" *ngFor="let roll of rollOne; let i"
          (click)="rollOneChange(roll); ">{{i}}</button>
      </div>
      <div *ngIf="!isFirstAttempt">
        <button class="btn" id="rollTwo-{{i}}" *ngFor="let roll of rollTwo; let i"
          (click)="rollTwoChange(roll)">{{i}}</button>
      </div>
      <div *ngIf="rollThree.length && isLastAttempt">
        <button class="btn" id="rollThree-{{i}}" *ngFor="let roll of rollThree; let i"
          (click)="rollThreeChange(roll)">{{i}}</button>
      </div>
    </section>
    <section>
      <h2 class="final-score" *ngIf="lastFrame === index || frames[lastFrame].score">
        Final Score is {{frames[lastFrame].score}}
      </h2>
    </section>
  </section>
  <section class="score-board">
    <div class="frame" *ngFor="let item of frames">
      <div class="title">{{item.frame + 1}}</div>
      <div class="content">
        <div class="roll" *ngFor="let roll of item.roll">
          <span>{{roll.hit}}</span>
        </div>

      </div>
      <div class="total" id="total-{{item.frame}}">{{item.score}}</div>
    </div>
  </section>
</div>
