<div class="wrapper">
  <section class="container">
    <section class="display-pins"></section>
    <section class="select-pins">
      Roll One<select name="roll1" id="roll1" (change)="rollOneChange($event.target.value)">
        <option>Select a value</option>
        <option *ngFor="let roll of rollOne"> {{roll}}</option>
      </select>
      Roll Two<select name="roll2" id="roll2" (change)="rollTwoChange($event.target.value)"
        [disabled]="!rollTwo.length">
        <option>Select a value</option>
        <option *ngFor="let roll of rollTwo"> {{roll}}</option>
      </select>
    </section>
  </section>
  <section class="score-board">
    <div class="frame" *ngFor="let frame of frames">
      <div class="title">{{frame.frame + 1}}</div>
      <div class="content">
        <div class="roll" *ngFor="let roll of frame.roll">{{roll.hit}}</div>

      </div>
      <div class="total">Total pins: {{frame.score}}</div>
    </div>
  </section>
</div>
